"*":
  core:
    disabledPackages: [
      "sync-settings"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
  "custom-title":
    template: "<% if (fileInProject) { %><%= projectName %> - <%= relativeFilePath %><% } else { %><%= filePath %><% } %>"
  editor:
    fontFamily: "Menlo"
    showIndentGuide: true
  "exception-reporting":
    userId: "3a02b761-61a3-b87d-8e92-617d38efeb84"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "sync-settings":
    _analyticsUserId: "9c248b53-73d5-4f56-99d3-315e1049be8e"
    _lastBackupHash: "911b681c438047c2107cba0fc290c49dbdc489d9"
    analytics: false
    gistId: "c4336c419d6cefdee697878f5f829bde"
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  welcome:
    showOnStartup: false
