"*":
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
  "custom-title":
    template: "<% if (fileInProject) { %><%= projectName %> - <%= relativeFilePath %><% } else { %><%= filePath %><% } %>"
  editor:
    fontFamily: "Menlo"
    showIndentGuide: true
  "exception-reporting":
    userId: "3a02b761-61a3-b87d-8e92-617d38efeb84"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  welcome:
    showOnStartup: false
